/*@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

}*/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular11.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

html {
  font-size: 10px;
  font-family: 'Lato';
}

.d-none {
  display: none;
}

.menu-hidden {
  display: none;
  margin: auto;
  color: #fff;
}

.nav-li_hidden {
  display: none;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.header-link_hidden {
  color: #000;
  display: block;
  font-size: 28px;
  padding: 10px;
}

.wrapper:hover, .photo-wrapper img:hover {
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper:hover:before, .photo-wrapper img:hover:before {
  display: none;
}

.container {
  width: 120rem;
  padding: 1.5rem;
  margin: 0;
}

.header {
  height: 10rem;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #165c85;
  color: #fff;
}

.header-logo {
  margin-top: 2rem;
}

.header-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-time_clock {
  height: 3.2rem;
  width: 3.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-display: row;
  height: 100%;
}

.header .header-nav a {
  text-decoration: none;
  color: #fff;
}

.header .header-nav a:hover {
  -webkit-transition: 0.21s;
  transition: 0.21s;
  border-top: 1px solid #fff;
  padding-top: 3px;
}

.about {
  width: 100%;
  min-height: 60rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/about/Part1.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-info {
  min-height: 50rem;
  max-width: 50rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #165c85;
  opacity: 0.6;
  color: #fff;
}

.about-info_main-header {
  position: relative;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 3.6rem;
}

.about-info_main-header:before {
  position: absolute;
  content: '';
  height: 4px;
  width: 6rem;
  background-color: #b83134;
  top: 5rem;
}

.about-info_secondary-header {
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 3.2rem;
}

.about-info_text {
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
}

.about-info_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35.7rem;
  min-height: 7rem;
  margin-top: 4.5rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 2.8rem;
}

.about-info_btn span {
  display: inline-block;
  vertical-align: middle;
}

.about-info_btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  cursor: pointer;
  background-color: #165c85;
  -webkit-box-shadow: 0px 0px 30px #165c85;
          box-shadow: 0px 0px 30px #165c85;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prices_header {
  margin-bottom: -2rem;
  margin-top: 6rem;
}

.prices-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
  font-size: 2rem;
}

.prices-lists .prices_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #b83134;
  min-height: 62rem;
  background-color: #fff;
  color: #b83134;
  margin-bottom: 10rem;
  padding: 3rem;
  margin: 2rem;
}

.prices-lists .prices_list span {
  color: #165c85;
  font-size: 1.7rem;
}

.prices-lists .prices_list:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -3rem;
  right: 3rem;
  bottom: 3rem;
  border: 0.1rem solid #165c85;
}

.prices-lists .prices_list_secondary-header {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2.8rem;
}

.prices-lists .price-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.prices-lists .price-offer_btn {
  width: 20rem;
  height: 4.2rem;
  color: #fff;
  font-size: 2.4rem;
  padding: 0.5rem;
  border: 1px solid #165c85;
  background-color: #165c85;
  cursor: pointer;
}

.prices-lists .price-offer_btn:hover {
  color: #165c85;
  background-color: #fff;
}

.prices-lists .price-offer_text {
  font-size: 2.4rem;
  padding-top: 5px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #165c85;
  z-index: -5;
  color: #fff;
}

.gallery_header {
  margin-top: 6rem;
}

.gallery .photo-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.gallery .photo-wrapper {
  position: relative;
  z-index: 5;
  margin-top: 0rem;
  margin-bottom: 6rem;
}

.gallery .photo-wrapper:nth-child(1) {
  margin-left: 3rem;
}

.gallery .photo-wrapper:nth-child(4) {
  margin-left: 3rem;
}

.gallery .photo-wrapper img {
  border: 1px solid #fff;
}

.gallery .photo-wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3rem;
  left: -3rem;
  right: 3rem;
  bottom: 16rem;
  border: 1px solid #fff;
}

.gallery .photo_main-text {
  font-size: 2.8rem;
  margin-top: 4rem;
}

.gallery .photo_secondary-text {
  font-weight: 300;
  font-size: 2.4rem;
  margin-top: 1.5rem;
}

.gallery .gallery_btn {
  color: #fff;
  border: 1px solid #fff;
  float: right;
  margin: 5rem 0;
}

.gallery .gallery_btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #165c85;
  background-color: #fff;
  border: 0.1rem solid #fff;
  -webkit-box-shadow: 0px 0px 30px #165c85;
          box-shadow: 0px 0px 30px #165c85;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0;
}

.video-hidden {
  margin-top: 20rem;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.video-content .video-container-hidden {
  margin-top: 20rem;
}

.video-content .video-container .video_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.video-content .video-container .video-wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 34rem;
  width: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-content .video-container .video-wrapper:nth-child(1) {
  margin-left: 3rem;
}

.video-content .video-container .video-wrapper img {
  border: 1px solid #fff;
  max-width: 100%;
  max-height: 100%;
}

.video-content .video-container .video-wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3.5rem;
  left: -3.5rem;
  right: 3.5rem;
  bottom: 3.5rem;
  border: 1px solid #b83134;
}

.video-content .video-container .video_container_main-text {
  color: #165c85;
  font-size: 2.8rem;
  margin-top: 4rem;
}

.video-content .video-container .video_container_secondary-text {
  color: #165c85;
  font-weight: 300;
  font-size: 2.4rem;
  margin-top: 2.4rem;
}

.video .button-handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  margin-top: 14rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.video .button-handler .vido_btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  background-color: #165c85;
  border: 0.1rem solid #165c85;
  -webkit-box-shadow: 0px 0px 30px #165c85;
          box-shadow: 0px 0px 30px #165c85;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 69rem;
  background-color: #165c85;
  position: relative;
  z-index: 1;
}

.about-me_header {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 3.6rem;
  margin-bottom: 11rem;
  margin-left: 0px;
}

.about-me_header:before {
  position: absolute;
  content: '';
  height: 0.4rem;
  width: 7rem;
  background-color: #b83134;
  top: 5rem;
}

.about-me-container {
  padding: 5rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me .wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 44.6rem;
  width: 33.4rem;
}

.about-me .wrapper-mini {
  height: 20rem;
  width: 14.6rem;
  margin-bottom: 4.3rem;
}

.about-me .wrapper-mini :before {
  top: -2.3rem;
  left: -2.3rem;
  right: 2.3rem;
  bottom: 2.3rem;
}

.about-me .wrapper-mini:hover {
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.about-me .wrapper-mini:hover .wrapper-mini:before {
  display: hidden;
}

.about-me .wrapper img {
  border: 1px solid #fff;
}

.about-me .wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -35px;
  left: -35px;
  right: 35px;
  bottom: 35px;
  border: 1px solid #fff;
}

.about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-me-content_item {
  margin-left: 7rem;
}

.about-me-content_item:nth-child(1) {
  margin-left: 3.5rem;
}

.about-me-content_item_text {
  margin-top: -3.5rem;
  color: #fff;
  margin-bottom: 6rem;
  font-size: 2.8rem;
}

.about-me-content_item_list {
  color: #b83134;
  font-size: 2.2rem;
}

.about-me-content_item_list li {
  margin-bottom: 4rem;
}

.about-me-content_item_list span {
  color: #fff;
}

.offer {
  height: 68.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.5rem 0 5rem 0;
}

.offer-main_header {
  position: relative;
  font-weight: bold;
  font-size: 3.6rem;
  color: #b83134;
  margin-bottom: 11rem;
}

.offer-main_header:before {
  position: absolute;
  content: '';
  height: 0.4rem;
  width: 7rem;
  background-color: #165c85;
  top: 5rem;
}

.offer-secondary_header {
  margin-bottom: 4rem;
}

.offer_btn {
  min-height: 4.8rem;
  width: 29rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  color: #165c85;
  background-color: transparent;
  border: 1px solid #165c85;
  margin-left: 3.5rem;
  cursor: pointer;
}

.offer_btn:hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #fff;
  background-color: #165c85;
  border: 0.1rem solid #165c85;
  -webkit-box-shadow: 0px 0px 30px #165c85;
          box-shadow: 0px 0px 30px #165c85;
}

.offer_btn span {
  margin-right: 1rem;
}

.offer_btn span img {
  vertical-align: middle;
}

.offer .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer .call-list {
  margin-top: -3.2rem;
  color: #b83134;
  font-weight: normal;
  font-size: 2.8rem;
  margin-left: 13rem;
}

.offer .call-list_offer-list li {
  margin-bottom: 4rem;
}

.offer .call-list_offer-list_text {
  font-weight: normal;
  font-size: 2.4rem;
  color: #165c85;
}

.offer .call .wrapper {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 34rem;
  width: 34rem;
  margin-left: 3.5rem;
}

.offer .call .wrapper img {
  border: 1px solid #165c85;
}

.offer .call .wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -3.5rem;
  left: -3.5rem;
  right: 3.5rem;
  bottom: 8rem;
  border: 1px solid #165c85;
}

.main-footer {
  height: 14.9rem;
  font-size: 1.7rem;
  background-color: #165c85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.main-footer a {
  text-decoration: none;
  color: #fff;
}

.main-footer a span {
  display: inline-block;
  vertical-align: middle;
}

.secondary-footer {
  height: 6rem;
  font-size: 1.7rem;
  background-color: #103b54;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondary-footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.secondary-footer a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
  .header {
    padding: 0 4rem;
  }
  .header-socials {
    display: none;
  }
  .header-logo {
    margin-top: 2rem;
  }
  .gallery-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 8rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 7px;
  }
  .container {
    width: 768px;
  }
  .nav a {
    display: none;
  }
  .menu-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-ul-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10rem;
    height: 5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: #165C85;
    font-size: 3rem;
    z-index: 1000;
  }
  .header-logo {
    display: block;
    display: inline-block;
    margin: 3rem auto 0 auto;
  }
  .white-popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .white-popup .header-link_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
  }
  .mfp-bg {
    width: 100%;
    height: 100%;
    background-color: #165c85;
  }
  .mfp-wrap {
    width: 100%;
    height: 100%;
  }
  .mfp-container {
    height: 100%;
  }
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 20rem;
  }
  .prices-lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prices-list {
    height: auto;
  }
  .gallery-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .photo-wrapper {
    margin-left: 3rem;
  }
  .gallery-btn-handler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video_main-header {
    padding-bottom: 8rem;
  }
  .button-handler {
    margin-top: -20rem !important;
  }
  .video-container {
    padding: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video_container {
    margin-left: 3rem;
    margin-bottom: 20rem;
  }
  .video_container img {
    height: 100%;
    width: 100%;
  }
  .video_container:nth-last-child() {
    margin-bottom: 0rem;
  }
  .video-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 14rem;
  }
  .button-handler {
    margin-top: 0rem;
  }
  .about-me {
    height: auto;
  }
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .about-me_header {
    text-align: center;
  }
  .about-me-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me-content_item:nth-child(1) {
    margin-right: 5rem;
    margin-bottom: 15rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-me-content_item:nth-child(1) img {
    height: 100%;
  }
  .about-me-content_item_list {
    text-align: center;
    list-style: none;
  }
  .about-me-content_item_text {
    text-align: center;
    padding-right: 2rem;
    list-style: none;
  }
  .about-me .wrapper-mini {
    display: none;
  }
  .offer {
    height: auto;
  }
  .offer-main_header {
    text-align: center;
    margin-bottom: 0;
  }
  .offer_btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .offer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-container .call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-container .call .wrapper {
    margin: 15rem auto;
  }
  .offer-container .call-list {
    color: #b83134;
    font-weight: normal;
    font-size: 2rem;
    margin-left: 0.1rem;
    text-align: justify;
  }
  .offer-container .call-list_offer-list {
    text-align: center;
    list-style: none;
  }
  .offer-container .call-list .offer-secondary_header {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    width: 600px;
  }
  .nav a {
    display: none;
  }
  .menu-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-ul-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 10rem;
    height: 5rem;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    background-color: #165C85;
    font-size: 3rem;
    z-index: 1000;
  }
  .nav-ul-button p {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5rem;
  }
  .header-logo {
    display: block;
    display: inline-block;
    margin: 3rem auto 0 auto;
  }
  .white-popup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .white-popup .header-link_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
  }
  .mfp-bg {
    width: 100%;
    height: 100%;
    background-color: #165c85;
  }
  .mfp-wrap {
    width: 100%;
    height: 100%;
  }
  .mfp-container {
    height: 100%;
  }
  .header-time {
    display: none;
  }
  .prices-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem;
  }
  .prices_list {
    width: 40rem;
    margin: 0;
    padding: 4rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar {
    display: none;
    position: posrel;
    margin: 0 auto;
  }
  .about-info_btn {
    padding: 0;
  }
  .about-info_btn span {
    display: inline-block;
    vertical-align: middle;
  }
  .prices .price-offer_text {
    margin-right: 2rem;
  }
  .prices-container {
    width: 100%;
  }
  .prices-lists {
    min-width: 100%;
    margin-top: 3rem;
  }
  .prices_list {
    width: 100%;
    margin-left: 5rem;
  }
  .prices_list li {
    margin-bottom: 2rem;
  }
  .gallery-btn-handler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -2rem;
  }
  .video .video_main-header {
    margin-bottom: 6rem;
  }
  .video-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video .video_container {
    margin-bottom: 10rem;
  }
  .video .video-wrapper {
    margin-bottom: 10rem;
  }
  .video .video-wrapper p {
    margin-top: 1rem;
  }
  .video .video-wrapper:nth-last-child {
    margin-bottom: 0rem;
  }
  .video .button-handler {
    margin-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-me {
    height: auto;
  }
  .about-me-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .about-me_header {
    text-align: center;
  }
  .about-me-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me-content_item:nth-child(1) {
    margin-right: 5rem;
    margin-bottom: 20rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about-me-content_item_list {
    text-align: center;
    list-style: none;
  }
  .about-me-content_item_text {
    text-align: center;
    padding-right: 2rem;
    list-style: none;
  }
  .about-me .wrapper-mini {
    display: none;
  }
  .offer {
    height: auto;
  }
  .offer .offer_img img {
    height: 100%;
    width: 100%;
  }
  .offer-main_header {
    text-align: center;
    margin-bottom: 0;
  }
  .offer_btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .offer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .offer-container .call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-container .call .wrapper {
    margin: 15rem auto;
  }
  .offer-container .call-list {
    color: #b83134;
    font-weight: normal;
    font-size: 2rem;
    margin-left: 0.1rem;
    text-align: justify;
  }
  .offer-container .call-list_offer-list {
    text-align: center;
    list-style: none;
  }
  .offer-container .call-list .offer-secondary_header {
    text-align: center;
  }
  .main-footer p {
    display: none;
  }
}

@media (max-width: 375px) {
  .video-container {
    padding: 0;
  }
}

@media (max-width: 320px) {
  .about-info {
    width: 100%;
  }
  .video-container {
    padding: 0;
  }
  .main-footer-content h2 {
    vertical-align: middle;
    margin-left: 1rem;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */